.dashboard {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; 
    margin-top: 20px;
  }
  
  .dashboard-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .tabs {
    margin-top: 10px; 
  }